<h1>Menu Details</h1>

<div class="box">
  <p>
    <strong>Item :</strong>
    <%= @menu.item %>
  </p>

  <p>
    <strong>Price :</strong>
    <%= two_decimals(@menu.price) %>
  </p>

  <p>
    <strong>Category :</strong>
    <%= @menu.category.category_name %>
  </p>
  
  <p>
    <strong>Position :</strong>
    <%= @menu.position %>
  </p>
  
   <p>
    <strong>Image :</strong><br>
    <%= image_tag url_for( @menu.photo.variant(resize: "200x200") ) if @menu.photo.attached? %>
  </p>
</div><br>

<%= link_to 'Add New Menu', new_menu_path %>
<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>


