<h1 class="title">Change Password</h1>

<div class="row justify-content-center">
  <%= form_with scope: :customer, url: "/customer_profile/update_password?id=#{@customer.id}", method: :patch, local: true, class: "col-md-5 p-5 mt-2" do |form| %>
    <% if @customer.errors.any? %>
      <div id="error_explanation">
        <ul class="alert alert-danger alert-dismissible fade show w-100">
          <h3><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h3>
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <% @customer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <% if flash[:alert].present? %>
        <p class="alert alert-danger alert-dismissible fade show">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </p>
    <% end %>
    
    <div class="field">
      <strong><label>Old password :</label></strong><br>
      <p><%= password_field_tag "old_password" %></p>
    </div>
    
    <div class="field">
      <strong><%= form.label :new_password %> : </strong><br>
      <%= form.password_field :password, :class =>"customer-input" %>
    </div>
    
    <div class="field">
      <strong><%= form.label :password_confirmation %> : </strong><br>
      <%= form.password_field :password_confirmation, :class =>"customer-input" %>
    </div>
    <br>

    <div class="actions row">
      <div class="col-md-6">
        <%= form.submit "Update Password", class: "btn-save-changes btn-block" %>
      </div>
    </div>
  <% end %>
</div>
<br>
