<h1>Customers</h1>

<table class="table">
  <thead>
    <tr>
      <th style="width: 20%">Name</th>
      <th style="width: 20%">Address</th>
      <th style="width: 20%">Email</th>
      <th style="width: 15%">Contact number</th>
      <th colspan="3" style="width: 25%"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.address %></td>
        <td><%= customer.email %></td>
        <td><%= customer.contact_number %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure want to delete?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
<br><br><br>
