<h1>Customer Details</h1>

<div class="box">
  <p>
    <strong>Name :</strong>
    <%= @customer.name %>
  </p>

  <p>
    <strong>Address :</strong>
    <%= @customer.address %>
  </p>

  <p>
    <strong>Email :</strong>
    <%= @customer.email %>
  </p>

  <p>
    <strong>Contact number :</strong>
    <%= @customer.contact_number %>
  </p>
  
  <p>
    <strong>Orders :</strong>
  </p>
  
  <table class="table">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Date</th>
      </tr>
    </thead>
    
    <tbody>
      <% @customer.orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.ordering_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
</div><br>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
