<h1>Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th style="width: 10%; text-align: center;">Order ID</th>
      <th style="width: 15%; text-align: center;">Ordering date</th>
      <th style="width: 15%; text-align: center;">Customer</th>
      <th style="width: 15%; text-align: center;">Is checked out</th>
      <th style="width: 15%; text-align: center;">Remark</th>
      <th  style="width: 30%" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td style="width: 10%; text-align: center;"><%= order.id %></td>
        <td style="width: 15%; text-align: center;"><%= order.ordering_date %></td>
        <td style="width: 15%; text-align: center;"><%= order.customer.name %></td>
        <td style="width: 15%; text-align: center;"><%= order.is_checked_out %></td>
        <td style="width: 15%; text-align: center;"><%= order.remark %></td>
        <td style="width: 10%; text-align: center;"><%= link_to 'Show', order %></td>
        <td style="width: 10%; text-align: center;"><%= link_to 'Edit', edit_order_path(order) %></td>
        <td style="width: 10%; text-align: center;"><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure want to delete??' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
<br><br><br>
