<h1>Order Details</h1>

<div class="container-fluid">
  <div class="box row">
    <div class="col-md-5">
      <p>
        <strong>Order ID :</strong>
        <%= @order.id %>
      </p>
      
      <p>
        <strong>Ordering date :</strong>
        <%= @order.ordering_date %>
      </p>

      <p>
        <strong>Customer :</strong>
        <%= @order.customer.name %>
      </p>

      <p>
        <strong>Remark :</strong>
        <%= @order.remark %>
      </p>
      
      <p>
        <strong>Is checked out :</strong>
        <%= @order.is_checked_out %>
      </p>
  
      <p>
        <strong>Order Items :</strong>
        <p class="font-weight-bold">Total price = RM <%= two_decimals(@order.total_amount) %></p>
        <% @order.order_items.each do |order_item| %>
          <ul class="list-type">
            <li><%= order_item.menu.item %> - RM <%= two_decimals(order_item.menu.price) %> x <%= order_item.quantity %></li>
          </ul>
        <% end %>
      </p>
    </div>
  
    <div class="col-md-6 ml-5">
      <h2>Create Order Item for your order</h2><br>
      <%= form_with(url: create_order_items_orders_path , model: OrderItem.new(order_id: @order.id), local: true) do |form| %>
      
        <%= form.hidden_field :order_id %>

        <div class="field">
          <strong><%= form.label :menu_id %> : </strong><br>
          <%= form.select :menu_id, Menu.order(:category_id).map { |menu_item| [ menu_item.item, menu_item.id ] }, include_blank: "Please select an item" %>
        </div><br>
  
        <div class="field">
          <strong><%= form.label :quantity %> : </strong><br>
          <%= form.number_field :quantity, class: "special-input" %>
        </div>
        <br>

        <div class="actions">
          <%= form.submit "Create Order Item", class: "btn-create" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<br>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
