<div class="container">
  <h1 class="title">Order Details</h1>
  <div class="row">
    <div class="box col-md-6">
      <p>
        <strong>Order ID :</strong>
        <%= @order.id %>
      </p>
      
      <p>
        <strong>Ordering date :</strong>
        <%= @order.ordering_date %>
      </p>

      <p>
        <strong>Receiver :</strong>
        <%= @order.customer.name %>
      </p>
      
      <p>
        <strong>Contact :</strong>
        <%= @order.customer.contact_number %>
      </p>
      
      <p>
        <strong>Address :</strong>
        <%= @order.customer.address %>
      </p>

      <p>
        <strong>Remark :</strong>
        <%= @order.remark %>
      </p>
      
      <p>
        <strong>Status :</strong>
        Completed
      </p>
      
      <p>
        <strong>Total price :</strong>
        RM <%= two_decimals(@order.total_amount) %>
      </p>
    </div>
    
    <div class="box col-md-6">
      <p>
        <strong>Order Items (<%= OrderItem.where(order_id: params[:id]).count %>) :</strong>
        
        <% @order.order_items.each do |order_item| %>
          <li>
              <%= image_tag order_item.menu.photo.variant(resize: "100x100") %>
              <%= order_item.menu.item %> x <%= order_item.quantity %>
          </li>
        <% end %>
      </p>
    </div>
    
    <br>
    <%= link_to "Back", order_history_index_path %>
    <br><br>
    
  </div>
</div>
